<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tour 2019{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet"  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/budget/style.css" />
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    
<!-- Header -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'budget:index' %}">Tour 2019</a>
        </div>
        
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav">
            <li class="">
                <a href="#">
                    <span class="glyphicon  " aria-hidden="true"> </span>&nbsp; Bands
                </a>
            </li>
            <li class="">
                <a href="#">
                    <span class="glyphicon  " aria-hidden="true"> </span>&nbsp; Members
                </a>
            </li>
            <li class="">
                <a href="{% url 'budget:index' %}">
                    <span class="glyphicon  " aria-hidden="true"> </span>&nbsp; Countries
                </a>
            </li>
            <li class="">
                <a href="{% url 'budget:index' %}">
                    <span class="glyphicon  " aria-hidden="true"> </span>&nbsp; Cities
                </a>
            </li>
            <li class="">
                <a href="{% url 'budget:index' %}">
                    <span class="glyphicon  " aria-hidden="true"> </span>&nbsp; Categories
                </a>
            </li>
            <li class="">
                <a href="{% url 'budget:index' %}">
                    <span class="glyphicon  " aria-hidden="true"> </span>&nbsp; Currencies
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="#">
                    <span class="glyphicon  " aria-hidden="true"></span>&nbsp; Add smth
                </a>
            </li> 
            <li class="">
                <a href="#">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                </a>
            </li> 
        </ul>
  
        </div>
    </div>
</nav>
    
{% block body %}
{% endblock %}
</body>
</html>