<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Тур 2019{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="/static/budget/bootstrap/css/bootstrap.css"/>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/budget/style.css" />
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/budget/bootstrap/js/bootstrap.js"></script>
    <script src="/static/budget/bootstrap/js/bootstrap.bundle.js"></script>

</head>
<body>

<!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'budget:index' %}">Тур 2019</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'budget:admin' %}">Admin page</a>
          </li>

      </div>



    </nav>
    <div class="container">

    {% block body %}
    {% endblock %}


    </div>
</body>
</html>